.info__block {
    margin: 20px auto;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(79, 66, 66);
    height: 400px;
    color: aliceblue;
}
.info__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info__title__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.info__title {
    font-weight: 700;
    font-size: 4em;
}
.info__blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.info__description {
    width: 50%;
    padding: 5px;
}
.info__additional {
    width: 50%;
    padding: 5px;
}
.info__additional_item span {
    font-weight: 1000;
}
.info__link {
    color: aliceblue;
}
@media (max-width: 800px) {
    .info__block {
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
        height: 90vh
    } 
    .info__title {
        font-size: 2em;
    }
}
@media (max-width: 500px) {
    .info__description {
        width: 100%;
    }
    .info__additional {
        width: 100%;
    }
    .info__blocks {
        flex-direction: column;
    }
}